<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.givmed.android"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_givmed_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.givmed.android.AnalyticsApplication" >

        <activity
            android:name="com.givmed.android.TwoButtons"
            android:label="two_buttons"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.Dwrees"
            android:label="dwrees"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.Share"
            android:label="share"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.Number"
            android:label="number"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.ConfirmNumber"
            android:label="confirm_number"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.Faq"
            android:label="faq"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.OroiXrhshs"
            android:label="oroi_xrhshs"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.BarcodeScanner"
            android:label="barcode_scanner"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.Farmakeio"
            android:label="farmakeio"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.Inputter"
            android:label="inputter"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.AfterFarmakeio"
            android:label="after_farmakeio"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.Outputer"
            android:label="outputer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.givmed.android.Elleipseis"
            android:label="elleipseis"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.givmed.android.Register"
            android:label="register"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.givmed.android.SMSReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <!-- Intent service -->
        <service
            android:name="com.givmed.android.VerifyService"
            android:exported="false" />
        <activity
            android:name="com.givmed.android.Communication"
            android:label="communication"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
